In [ ]:
%%sql
postgresql:///international_debt
SELECT *
FROM international_debt
LIMIT 10;

In [ ]:
%%sql
SELECT 
    COUNT(DISTINCT(country_name)) AS total_distinct_countries
FROM international_debt;

In [ ]:
%%sql
SELECT 
    DISTINCT(indicator_code) as distinct_debt_indicators
FROM international_debt
GROUP BY distinct_debt_indicators
ORDER BY distinct_debt_indicators;

In [ ]:
%%sql
SELECT 
    ROUND(SUM(debt)/1000000, 2) as total_debt
FROM international_debt;

In [ ]:
%%sql
SELECT 
    country_name, 
    ROUND(SUM(debt)/1000000, 2) as total_debt
FROM international_debt
GROUP BY country_name
ORDER BY total_debt DESC 
LIMIT 1;

In [ ]:
%%sql
SELECT 
    indicator_code AS debt_indicator,
    ROUND(AVG(debt)/1000000,2) as average_debt,
    indicator_name
FROM international_debt
GROUP BY debt_indicator, indicator_name
ORDER BY average_debt DESC
LIMIT 10;

In [ ]:
%%sql
SELECT 
    country_name, 
    ROUND(AVG(debt)/1000000,2) as average_debt,
    indicator_name,
    indicator_code
FROM international_debt
GROUP BY country_name, indicator_name, indicator_code
HAVING indicator_code = 'DT.AMT.DLXF.CD'
ORDER BY average_debt DESC
LIMIT 10;

In [ ]:
%%sql
SELECT 
    indicator_name,
    COUNT(indicator_code) as indicator_count
FROM international_debt
GROUP BY indicator_code, indicator_name
ORDER BY indicator_count DESC
LIMIT 20;

In [ ]:
%%sql
SELECT
    country_name,
    indicator_name,
    MAX(debt) as maximum_debt
FROM international_debt
GROUP BY country_name, indicator_name
ORDER BY maximum_debt DESC
LIMIT 20;